*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
.h1text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#b341bf;
    padding-left: 30px;
}
.time{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#b341bf;
    padding: 0 30px 0 0;
font-size: 25px;
}
#score{
    float:right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#b341bf;
    padding: 0 30px 0 0;
font-size: 25px;
}

main{
    display: flex;
    justify-content: center;
}
.container{
 display: flex;
 justify-content: center;   
 flex-direction: column;
 align-items: center;
 padding-top: 200px;
 width: 500px;
 
}
.question{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding:15px 0px ;
}
.btn-grid{
    display: flex;
    flex-direction: column;
}
.Q{
   
    height: max-content;
    width: fit-content;
    margin: 10px;
    background-color: #b341bf;
    color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}
.hide{
    display: none;
}
.TorF {

}
.start-btn  {
    margin: 20px;
    background-color: #b341bf;
    color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
 
.start-control{
    display: flex;
    flex-direction: column;
}